* {
    padding: 0;
    margin: 0;
}
/* 색칠 */
body {
    background-color: #333;
    color:white
}
.container {
    width: 700;
    /* 가운데 정렬 */
    margin: 0 auto; 
    box-sizing: border-box;
    /* 페이지 최대 높이(스크롤바가 안 생김) */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* 내부 박스 간격 균등하게 */
    justify-content: space-between;
    /* 가운데 정렬 */
    align-items: center;
}
header{
    /* 위에 여백 */
    padding:1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>p{
    font-size:1.5rem;
    /* 글자 두께 */
    font-weight: 700;
}
header>ul {
    /* 가로로 쫘라락 */
    display:flex
}
header>ul>li{
    /* 점 없애기 */
    list-style-type: none;
    /* 간격 늘이기 */
    margin-left: 1.5rem;
}
/* home, feature, contact 수정*/
header>ul>li>a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 5px;
    color:white;
}
/* nth-child(n) : n 번째 녀석 수정 */
header>ul>li:nth-child(1)>a{
    border-bottom:5px solid white;
}
header>ul>li>a:hover {
    border-bottom: 5px solid white;
}
section {
    /* 홀쭉하게 */
    padding: 3rem;
    text-align: center;
}
#a1{
    margin-bottom: 5px;
}
section>#a1>p:nth-child(1) {
    font-size: 2rem;
    font-weight: 1000;
}
/* last-of-type */
section>#a1>p:last-of-type{
    font-size: 1.3rem;
    font-weight: 500;
}
section>a {
    /* a가 inline 속성이라 block 속성으로 바꾼다. */
    display: block;
    border: 1px solid black;
    width:150px;
    font-size: 1.3rem;
    font-weight: 600;
    /* 가운데 정렬 */
    margin: auto;
    padding: 1rem;
    /* 모서리 둥글게 */
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: white;
}
footer {
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
footer>a:hover {
    text-decoration: none;
    color: red;
}