body{
}

main {
    margin-top : 10px;
}

a{
    text-decoration: none;
}
a:hover{
    color : tomato;
}
li{
    font-size: large;
}
li a{
    color: #333;
    font-size: large;
}

h1 {
    font-size: 30px;
}
#Study ul a li{
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
}
#Address ul li{
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.material-symbols-outlined {
    transform: translateY(8px) translateX(0px); 
    font-variation-settings: 'FILL' 1;
  }
