*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslateblue;
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.material-symbols-outlined{
    font-size: 10rem;
}
.lg-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}
.sm-text{
    font-size: 1.5rem;
}
#dynamic{
    position: relative;
    display: inline-block;
}
/* p태그 요소 뒤에 가상요소를 만들어 커서모양으로 만든다 */
#dynamic::after{
    content:"";
    display:block;
    position: absolute;
    top:0;
    right: -10px;
    width: 3px;
    height: 95%;
    background-color: white;
}
/* dynamic이 class 이름에 active가 있으면*/
#dynamic.active::after{
    display: none;    
}